Binaries
DerivedDataCache
Intermediate
Saved
Content\ArchvisProject\Levels\Interior_BuiltData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MetaHumans/Common/Common/f_med_nrw_preview.uasset
Content/MetaHumans